#header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

#header a {
    color: #FFF;
}

#header #header__list,
#header #header__themes
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#header #header__list,
#header #header__themes
{
    align-items: center;
    display: flex;
}

#header #header__list *:first-child {
    flex-grow: 1;
}

#header #header__themes {
    font-size: 0.75rem;
    text-transform: uppercase;
}

#header #header__list li,
#header #header__themes li
{
    padding: 0 0.5rem 0 0;
}

#header #header__themes li label {
    cursor: pointer;
}
