/* Imports */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@900&family=Gowun+Dodum&display=swap');

/* Resets */

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

dl dd {
    margin: 0 0 1rem 0;
}

/* Typography */

:root {
    font-family: 'Gowun Dodum', sans-serif;
    font-size: 20px;
}

dl dt {
    font-weight: bold;
}

h1,
h2
{
    font-family: 'Playfair Display SC', serif;
    font-weight: 900;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

dt {
    font-size: 1.1rem;
}

/* Template */

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;
    position: relative;
}

#header {
    background-color: #000;
    color: #FFF;
}

#main {
    flex-grow: 1;
}

#footer {
    align-items: center;
    background-color: #000;
    color: #FFF;
    display: flex;
    padding: 2rem 0;
}

a:link,
a:hover,
a:focus,
a:active
{
    font-weight: bold;
    text-decoration: none;
    transition: color 0.5s ease;
}

h1 small {
    display: block;
}

h2 {
    margin-bottom: 2rem;
}

hr {
    border: 1px solid #000;
    margin: auto;
    width: 50%;
}

.section-separator {
    padding: 1rem 0;
}

.list-inline {
    padding-top: 1rem;
}

.list-inline li {
    display: inline-block;
}

.list-inline li:not(:last-child)::after {
    content:" \2022";
}

/* Header */

#header {
    padding: 1rem 0;
    position: sticky;
    top: 0;
}

#header #header__list,
#header #header__themes
{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

#header #header__list,
#header #header__themes
{
    align-items: center;
    display: flex;
}

#header #header__list *:first-child {
    flex-grow: 1;
}

#header #header__themes {
    font-size: 0.5rem;
    text-transform: uppercase;
}

#header #header__list li,
#header #header__themes li
{
    padding: 0 0.5rem 0 0;
}

#header #header__themes li label {
    cursor: pointer;
}

/* Sections */

#section-hero {
    padding: 2rem 0;
    text-align: center;
}

/* Themes */

#main {
    transition:
        color 0.5s ease,
        background-color 0.5s ease
    ;
}

.radio__theme {
    position: fixed;
    right: -5000%;
}

.radio__theme[value="newspaper"]:checked ~ #header label[for="radio__theme--newspaper"],
.radio__theme[value="evening"]:checked ~ #header label[for="radio__theme--evening"],
.radio__theme[value="midnight"]:checked ~ #header label[for="radio__theme--midnight"]
{
    text-decoration: underline;
}

.radio__theme[value="newspaper"]:checked ~ #main {
    background-color: #E9E9E9;
    color: #000;
}

.radio__theme[value="newspaper"]:checked ~ * a {
    color: #33C;
}

.radio__theme[value="newspaper"]:checked ~ * hr {
    border-color: #000;
}

.radio__theme[value="evening"]:checked ~ #main {
    background-color: #112233;
    color: #EEEEC9;
}

.radio__theme[value="evening"]:checked ~ * a {
    color: #CC3;
}

.radio__theme[value="evening"]:checked ~ * hr {
    border-color: #EEEEC9;
}

.radio__theme[value="midnight"]:checked ~ #main {
    background-color: #090911;
    color: #D9D9D9;
}

.radio__theme[value="midnight"]:checked ~ * hr {
    border-color: #D9D9D9;
}

.radio__theme[value="midnight"]:checked ~ * a {
    color: #C33;
}

/* Responsiveness */

.container {
    margin: auto;
    width: calc(100% - 1rem);
}

@media (max-width: 599.98px) {
    #header #header__list {
        flex-wrap: wrap;
    }
    
    #header #header__list *:first-child {
        width: 100%;
    }
}

@media (min-width: 600px) {
    #section-experience {
        display: flex;
    }
    
    #section-experience > * {
        width: 50%;
    }
    
    #section-experience > * h2 {
        text-align: center;
    }
    
    #section-experience > * dl {
        margin: 0 auto 1.5rem auto;
        width: 75%;
    }
}

/* Printer View */

@media print {
    :root {
        font-size: 14px;
    }
    
    a {
        color: #000 !important;
    }
    
    #header,
    #footer
    {
        display: none;
    }
    
    #section-hero {
        padding: 1rem 0;
    }
}
